# IDEs & editors
/.idea/

# cache
*.py[cod]
__pycache__/

# virtualenv
/venv/
/virtualenv/

# packaging
/*.egg-info/
/build/
/dist/

# testing
/.cache/
/.pytest_cache/
/.tox/
/pytestdebug.log
/tests/*-report.json
/tests/*-report.xml
.coverage

Pipfile.lock
