name: Tests

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  python-django:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version:
        - '3.6'
        - '3.7'
        - '3.8'
        - '3.9'
        - '3.10'
        django-version:
        - '2.2'
        - '3.2'
        - '4.0'
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install build tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools tox-gh-actions wheel
    - name: Run tests (Python ${{ matrix.python-version }}, Django ${{ matrix.django-version }})
      run: tox
      env:
        DJANGO: ${{ matrix.django-version }}
