name: Tests

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

env:
  PIP_DISABLE_PIP_VERSION_CHECK: '1'
  PY_COLORS: '1'

jobs:
  python-django:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        django-version:
        - '4.2'
        - '5.1'
        - '5.2'
        include:
        - { python-version: '3.9', django-version: '4.2' }
        - { python-version: '3.14', django-version: '5.2' }
        exclude:
        - { python-version: '3.13', django-version: '4.2' }
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install build tools
      run: python -m pip install tox-gh-actions
    - name: Run tests (Python ${{ matrix.python-version }}, Django ${{ matrix.django-version }})
      run: tox
      env:
        DJANGO: ${{ matrix.django-version }}
